.loginPage,
.registerPage {
  height: 100vh;
  width: 100%;
  margin: auto;
  overflow: hidden;
  box-shadow: 0 7px 50px rgb(214, 223, 213);
}
.loginPage .container,
.registerPage .container {
  height: 100vh;
  width: 100%;
  margin: auto;
  justify-content: space-between;
  background: hsl(0, 0%, 91%);
}
.loginPage .videoContainer,
.registerPage .videoContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  width: 70%;
  height: 100%;
  padding: 0 1.5rem;
  text-align: center;
  justify-content: center;
  margin: auto;
  overflow: hidden;
}
.loginPage .videoContainer video,
.loginPage .videoContainer .footerContainer,
.registerPage .videoContainer video,
.registerPage .videoContainer .footerContainer {
  position: absolute;
}
.loginPage .videoContainer video,
.registerPage .videoContainer video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.loginPage .videoContainer .textContainer,
.registerPage .videoContainer .textContainer {
  position: relative;
}
.loginPage .videoContainer .textContainer .title,
.registerPage .videoContainer .textContainer .title {
  color: var(--whiteColor);
  font-size: 35px;
  font-weight: 800;
}
.loginPage .videoContainer .textContainer p,
.registerPage .videoContainer .textContainer p {
  color: var(--whiteColor);
  padding: 1rem;
  font-weight: 400;
}
.loginPage .videoContainer .footerContainer,
.registerPage .videoContainer .footerContainer {
  bottom: 10px;
  padding: 0 1rem;
  height: 60px;
  background: rgba(50, 50, 50, 0.523);
  left: 50px;
  right: 50px;
  bottom: 20px;
  justify-content: space-between;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  border-radius: 10px;
}
.loginPage .videoContainer .footerContainer .text,
.registerPage .videoContainer .footerContainer .text {
  color: var(--whiteColor);
}
.loginPage .videoContainer .footerContainer .btn,
.registerPage .videoContainer .footerContainer .btn {
  background: var(--whiteColor);
  color: var(--primaryColor);
  padding: 0.8rem 1.5rem;
  border-radius: 10px;
  font-weight: 400;
  transition: 0.3s ease-in-out;
}
.loginPage .videoContainer .footerContainer .btn:hover,
.registerPage .videoContainer .footerContainer .btn:hover {
  background: var(--hoverColor);
  color: var(--blackColor);
}
.loginPage .formContainer,
.registerPage .formContainer {
  flex-basis: 50%;
  margin: auto;
  flex-direction: column;
  gap: 1.5rem;
  transform: translateY(-1rem);
}
.loginPage .formContainer .headerContainer,
.registerPage .formContainer .headerContainer {
  text-align: center;
  padding: 1.5rem 0;
}
.loginPage .formContainer .headerContainer img,
.registerPage .formContainer .headerContainer img {
  width: 100px;
  padding-bottom: 0.5rem;
}
.loginPage .formContainer .headerContainer h3,
.registerPage .formContainer .headerContainer h3 {
  font-size: 25px;
  color: var(--blackColor);
  font-weight: 600;
}
.loginPage .formContainer .form,
.registerPage .formContainer .form {
  gap: 1rem;
}
.loginPage .formContainer .form .inputContainer input,
.registerPage .formContainer .form .inputContainer input {
  background: none;
  outline: none;
  border: none;
  width: 300px;
}
.loginPage .formContainer .form .inputContainer label,
.registerPage .formContainer .form .inputContainer label {
  color: var(--blackColor);
  font-weight: 400;
  font-size: 14px;
  padding: 0.5rem 0;
  display: block;
}
.loginPage .formContainer .form .inputContainer .input,
.registerPage .formContainer .form .inputContainer .input {
  gap: 0.5rem;
  padding: 1rem;
  background: var(--inputColor);
  border-radius: 10px;
}
.loginPage .formContainer .form .inputContainer .input .icon,
.registerPage .formContainer .form .inputContainer .input .icon {
  color: var(--grayText);
}
.loginPage .formContainer .form .btn,
.registerPage .formContainer .form .btn {
  padding: 0.8rem;
  background-color: var(--primaryColor);
  border-radius: 10px;
  color: var(--whiteColor);
  align-items: center;
  margin: auto;
  justify-content: center;
  font-size: 16px;
  width: 100%;
  gap: 0.5rem;
  transition: 0.3s ease;
}
.loginPage .formContainer .form .btn .icon,
.registerPage .formContainer .form .btn .icon {
  font-size: 25px;
  transition: 0.3s ease;
}
.loginPage .formContainer .form .btn:hover,
.registerPage .formContainer .form .btn:hover {
  background: var(--hoverColor);
  color: var(--blackColor);
}
.loginPage .formContainer .form .btn:hover .icon,
.registerPage .formContainer .form .btn:hover .icon {
  color: var(--blackColor);
  transform: translateX(5px);
}
.loginPage .formContainer .form .forgotPassword,
.registerPage .formContainer .form .forgotPassword {
  font-size: 13px;
  color: var(--blackColor);
  opacity: 0.7;
  text-align: center;
}
.loginPage .formContainer .form .forgotPassword a,
.registerPage .formContainer .form .forgotPassword a {
  text-decoration: underline;
}

@media screen and (max-width: 927px) {
  .loginPage .container,
  .registerPage .container {
    flex-direction: column;
  }
  .loginPage .videoContainer,
  .registerPage .videoContainer {
    width: 100%;
  }
}/*# sourceMappingURL=Login.css.map */